.home-container {
  width: 100%;
  height: 100%;
  .container-body {
    margin: 4rem 2rem;
    display: flex;
    flex-flow: column;
    // width: 100%;
    .button-class {
      width: 8rem;
      height: 1.5rem;
      color: var(--white);
      background-color: var(--blue);
      border-radius: 10px;
      border: 3px solid var(--blue);
      cursor: pointer;
    }
    .right-site {
      max-width: 25rem;
      height: 100%;
      padding: 2vw 5rem;
      border: 2px solid var(--primary-color1);
      border-radius: 1rem;
      margin: 0 auto;
      .signin-body {
        .heading {
          color: var(--primary-color1);
          text-align: center;
        }
        .signin-form {
          // padding: 1rem;
          display: flex;
          flex-flow: column;
          margin-top: 1rem;
          .input-body {
            margin-bottom: 1.5rem;
            label {
              color: #9597a6;
              margin: 0.5rem 0 0.5rem;
              font-weight: 300;
              text-align: left;
              float: left;
            }
            .input-field {
              width: 100%;
              height: 1.5rem;
              border-radius: 10px;
              border: 1px solid var(--gray);
              padding: 0.5rem 1rem;
              margin-bottom: 0.5rem;
            }
            .forgot-password {
              color: var(--blue);
              text-align: right;
              cursor: pointer;
            }
            .gender-class {
              display: flex;
              flex-flow: row;
              margin: 0.5rem 0;
              .input-field {
                width: 45%;
              }
            }
          }
          .button {
            width: 100%;
            height: 2.5rem;
            color: var(--white);
            background-color: var(--blue);
            border-radius: 10px;
            border: 3px solid var(--blue);
          }
        }
        .social-login-icon {
          width: 100%;
          margin: 1rem 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;
          .social-icons {
            width: 3.5rem;
            height: 3.5rem;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
        }
        .about-login {
          // margin: 1rem;
          color: var(--white);
          p {
            margin-bottom: 0.5rem;
            .span-login {
              color: var(--blue);
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.text-danger {
  color: #d9534f;
}
@media all and (max-width: 800px) {
  .signin-container {
    .signin-site-section {
      flex-flow: column-reverse wrap;
      .left-site {
        display: none;
        width: 100%;
      }
      .right-site {
        width: 100%;
        padding: 5vw 16vw;
      }
    }
    .container {
      max-width: 100% !important;
    }
  }
}
